<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.Mapper.Carbon_3_Mapper">
    <!--根据id查询数据-->
    <select id="select" resultType="vo.Carbon_3_calculator">
        select * from carbon_3_calculator where year=#{year}
    </select>

    <insert id="insert" parameterType="vo.Carbon_3_calculator">
        insert into carbon_3_calculator values (#{a},#{c},#{r},#{b},#{year},#{position},#{result});
    </insert>

</mapper>