<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.Mapper.Nutriment_2_Mapper">
    <!--根据id查询数据-->
    <select id="select" resultType="vo.nutriment.Nutriment_2_calculator">
        select * from nutriment_2_calculator where year=#{year}
    </select>

    <insert id="insert" parameterType="vo.nutriment.Nutriment_2_calculator">
        insert into nutriment_2_calculator values (#{a},#{b},#{p},#{year},#{position},#{result});
    </insert>

</mapper>