<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.Mapper.Oxygen_1_Mapper">
    <!--根据id查询数据-->
    <select id="select" resultType="vo.Oxygen_1_calculator">
        select * from oxygen_1_calculator where year=#{year}
    </select>

    <insert id="insert" parameterType="vo.Oxygen_1_calculator">
        insert into oxygen_1_calculator values (#{a},#{b},#{year},#{position},#{result})
    </insert>

</mapper>