<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.Mapper.Soil_2_Mapper">
    <!--根据id查询数据-->
    <select id="select" resultType="vo.Soil_2_calculator">
        select * from soil_2_calculator where year=#{year}
    </select>

    <insert id="insert" parameterType="vo.Soil_2_calculator">
        insert into soil_2_calculator values (#{a},#{x1},#{x2},#{n},#{year},#{position},#{result})
    </insert>

</mapper>